.App{
    border: 1px solid;
    margin: 7%;
    border-radius: 10px;
    background-image: url('https://images.inc.com/uploaded_files/image/1920x1080/getty_638884198_366705.jpg');
    
}

.headdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid; */
    border-radius: 5px;
    margin: 6%;
    padding: 3%;
    text-align: start;
    background-color:lightpink ;
}
.countbutt{
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: lightgreen;
}
.countnum{
    background-color:  lemonchiffon;
    padding: 5px;
    border-radius: 10px;
}
.headname{
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.inp{
   width: 30%;
   margin: 30px;
    background-color: red

}