table,tr,td{
    border:2px solid;
}
img{
    width:100px;   
}
.items{
    margin: 10px;
    width: 20%;
    box-shadow: 1px 1px 1px 1px;  
    text-align: center;
}
.mdiv{
    /* width: 75%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    /* align-items: center; */
}