.mdiv{
  margin: 0 auto;
  margin-top: 10%;
}
img{
  width: 150px;
  height: 150px;
}
.headdiv{
  position: sticky;
  top: 0px;
  right: 5px;

}
.cartimg{
  width: 150px;
  height: 150px;  
}
.iterativediv{
  width: 70%;
  height: 300px;
}
.pricediv{
  width: 70%;
}
.addcartbut{
  margin: 0 auto;
}
.orderdiv{
  margin: 0 auto;
  margin-top: 7%;
  padding: 10%;

}